#define INCL_WIN
#include <os2.h>

#include <install.H>

POINTER 1 PRELOAD MOVEABLE DISCARDABLE "/src/ribble/install/Install.ico"

DLGTEMPLATE DLG_Install 
BEGIN
	DIALOG "Ribble installation", 100, 33, 32, 280, 126, FS_DLGBORDER | NOT WS_SAVEBITS | WS_VISIBLE | WS_CLIPSIBLINGS, FCF_TITLEBAR | FCF_SYSMENU | FCF_MINBUTTON
	PRESPARAMS PP_FONTNAMESIZE "8.Helv"
	BEGIN
		CONTROL "~Information", DID_ProgressBox, 8, 28, 264, 91, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", DID_ProgressText, 20, 37, 240, 70, WC_LISTBOX, LS_HORZSCROLL | LS_NOADJUSTPOS | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PRESPARAMS PP_FONTNAMESIZE "8.Helv"
		CONTROL "~Dismiss", DID_Dismiss, 232, 7, 40, 14, WC_BUTTON, BS_PUSHBUTTON | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "Installation ~paths", DID_InstallPaths, 8, 75, 264, 44, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Ribble executable", DID_ExeTitle, 20, 99, 84, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", DID_ExePath, 108, 99, 88, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "\\Ribble.EXE", DID_ExeName, 204, 99, 60, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Ribble help file", DID_HlpTitle, 20, 83, 84, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "", DID_HlpPath, 108, 83, 88, 9, WC_ENTRYFIELD, ES_LEFT | ES_AUTOSCROLL | ES_MARGIN | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		CONTROL "\\Ribble.HLP", DID_HlpName, 204, 83, 60, 8, WC_STATIC, SS_TEXT | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Installation ~options", DID_InstallOptions, 8, 28, 264, 38, WC_STATIC, SS_GROUPBOX | DT_LEFT | DT_TOP | DT_MNEMONIC | WS_VISIBLE | WS_GROUP
		CONTROL "Create Ribble o~bject on desktop", DID_CreateObject, 28, 40, 132, 10, WC_BUTTON, BS_AUTOCHECKBOX | WS_VISIBLE | WS_GROUP | WS_TABSTOP
		PUSHBUTTON "~Defaults", DID_Defaults, 8, 7, 51, 14
		DEFPUSHBUTTON "~Install", DID_OK, 168, 7, 51, 14
		PUSHBUTTON "~Exit", DID_CANCEL, 224, 7, 48, 14
	END

END

